body {
    width: 100vw;
    font-family: 'Nunito';
    weight: 400 !important;
    font-size: 20px;
    background-color: black;
    padding-top: 70px;
}


nav, footer{
    background-color: rgb(3, 180, 180);
    margin:0;
    padding-left: 8vw  !important;
    padding-right: 8vw  !important;
}

.icono{
    background-color: rgb(3, 180, 180);
    display: flex;
    justify-content: center;
}
.row{
    color: white;
}
h3{
    text-align: center;
    margin-top: 2em;
    
}

hr{
    border-color: rgb(3, 180, 180);
}

.card{
    background-color: rgb(3, 180, 180);
    border-color: white;
    color: white;
}

i{
    color: white;
}